
body.loaded{
  opacity:1;
  transition: opacity 1s ease;
}
body{
background: #0f172a;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
opacity: 0;
}
.card > * {
  margin-bottom: 15px;
}

.card > *:last-child {
  margin-bottom: 0;
}
.container{
text-align:center;
background:#1e293b;
padding:40px;
border-radius:15px;
  width: 90%;
  max-width: 280px;
box-shadow:0 0 40px rgba(0,195,255,0.15);
}


h1{
margin:10px 0;
}

.about{
color:#94a3b8;
font-size:14px;

margin-top: 30px;
}
@media (max-width: 480px) {
  .about {
    margin-top: 20px;
  }
}
.social a{
color:white;
font-size:22px;
margin:10px;
transition:0.3s;
}
.social{
    margin-bottom: -15px;
}

.profile{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:15px;
border:3px solid #38bdf8;
box-shadow:0 0 20px #38bdf8;
}

.social a{
color:white;
font-size:22px;
margin:10px;
transition:0.3s;
display:inline-block;
}

.social a:hover{
transform:scale(1.3);

}
/* Instagram */
.fa-instagram:hover{
  color:#C13584;
  transform:scale(0.9);
}

/* Facebook */
.fa-facebook:hover{
  color:#1877F2;
  transform:scale(0.9);
}

/* WhatsApp */
.fa-whatsapp:hover{
  color:#25D366;
  transform:scale(0.9);
}
.fa-whatsapp{
  font-size:23.5px;
}
/* Telegram */
.fa-telegram:hover{
  color:#38bdf8;
  transform:scale(0.9);
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin:10px 0;
}
.about{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color:#94a3b8;
    margin-bottom:10px;
}
.skills{
  margin-top:11px;
  margin-bottom: 25px;
  font-size:14px;
  color:#b8c5d6;
  letter-spacing:1px;

  letter-spacing: 0.5px;
}
.idea{
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    font-style:italic;
    color:#cbd5e1;
    margin-bottom:20px;
}

@media (max-width: 600px){
  .container{
    padding: 25px;
    max-width: 240px;
    border-radius: 12px;
  }
}
@media screen and (max-width: 480px){


    .profile{
        width:100px;
        height:100px;
    }

    h1{
        font-size:20px;
    }

    .about{
        font-size:13px;
    }

    .social a{
        font-size:20px;
        margin:8px;
    }
}

.ismim {
font-size: 28px;
transition: 0.2s;
}


#particles-js{
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -1;
background: #000;
}

#typing{
font-size:18px;
color:#00aaff;
}
.cursor{
font-size:20px;
color:#00aaff;
animation: blink 1s infinite;
}
@keyframes blink{
0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}


.ismim{
font-size:30px;
font-weight:bold;

background: linear-gradient(270deg,#38bdf8,#94a3b8,#94a3b8,#38bdf8,#38bdf8,#94a3b8,#38bdf8);
background-size:600%;

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation: colorShift 12s ease infinite;
}

@keyframes colorShift{
0%{
background-position:0% 50%;
}
50%{
background-position:100% 50%;
}
100%{
background-position:0% 50%;
}
}

.buttons{
    margin-top:15px;
  margin-bottom:25px;

}

.buttons a{
  display:inline-block;
  margin:5px;
  padding:6px 16px;
  border:1px solid #00c3ff;
  border-radius:20px;
  color:#00c3ff;
  text-decoration:none;
  transition:0.3s;
}

.buttons a:hover{
  background:#00c3ff;
  color:white;
  box-shadow:0 0 15px #00c3ff;
}
html{
scroll-behavior:smooth;
}
footer{
  text-align:center;
  margin-top:20px;
  margin-bottom: -20px;
  color:#9aa7b8;
  font-size:13px;
  letter-spacing:1px;
  opacity:0.8;
}





/* STRELKA */
/* strelka */
/*.arrow{
position:absolute;
left:55px; 
top:75px;

font-size:28px;
color:#00bfff;
opacity:0;
animation:arrowShow 1s forwards;
animation-delay:2.2s;
}

@keyframes arrowShow{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
transform:translateY(0);
}
}
/* arrow */

/*@media (max-width:600px){

.s{
left:5px;
bottom:0;
}

.u{
left:25px;
bottom:25px;
}

.p{
left:45px;
bottom:50px;
}

.arrow{
left:65px;
bottom:10px;
}

}*/

.loadingspinner {
  --square: 26px;
  --offset: 30px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc( 3 * var(--offset) + var(--square));
  height: calc( 2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: #38bdf8;
    /*background: var(--text-color);*/
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc( 0 * var(--offset) );
  top: calc( 0 * var(--offset) );
  animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc( 0 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
              squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc( 1 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc( 2 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc( 3 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square2 {
  0% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  100% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }
}

@keyframes square3 {
  0%,100% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square4 {
  0% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square5 {
  0% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0.0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

.loader-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
 
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
transition: opacity 1.5s ease;
  animation:loaderHide 4.0s forwards;
    background: linear-gradient(180deg,#071426,#020b16);
}

@keyframes loaderHide{
  0%{
    opacity:1;
  }
  90%{
    opacity:1;
  }
  100%{
    opacity:0;
    visibility:hidden;
  }
}

@media (max-width:768px){

  .loadingspinner{
    transform:scale(0.8);
  }

}

@media (max-width:480px){

  .loadingspinner{
    transform:scale(0.75);
  }

@media (max-width: 768px) {
.card{
width:90%;
padding:25px;
}

.button{
padding:8px 16px;
font-size:14px;
}
}
}
/*button*/

.button {

  --h-button: 40px;
  --w-button: 90px;
  transform: scale(0.75);
margin: 0 auto;
  width:60%;
display:block;
justify-content:center;
align-items:center;
height: 36px;
transform:scale(0.8);
    margin-bottom: 35px;
  --round: 0.75rem;
  cursor: pointer;
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;



border-radius: 10px;
  border: none;
  outline: none;
  padding: 12px 18px;

margin-top:15px;
padding:10px 18px;
font-size:16px;
background: transparent;
border: 1px solid #38bdf8;
text-decoration: none;
}


.button:hover{
background:#38bdf8;
color:#2a0f1d;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.inner {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.2s ease-in-out;
}

.inner svg.icon {
  width: 18px;
  height: 18px;
  transition: fill 0.1s linear;
}

.button:focus svg.icon {
  fill: white;
}
.button:hover svg.icon {
  fill: transparent;
  animation:
    dasharray 1s linear forwards,
    filled 0.1s linear forwards 0.95s;
}
@keyframes dasharray {
  from {
    stroke-dasharray: 0 0 0 0;
  }
  to {
    stroke-dasharray: 68 68 0 0;
  }
}
@keyframes filled {
  to {
    fill: white;
  }
}

/*aboooooout html*/

